* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* navbar */
nav {
  display: flex;
  background-color: rgb(180, 78, 232);
  justify-content: space-around;
  /* padding: 20px 0; */
  color: rgb(234, 192, 255);
  height: 50px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: rgb(234, 192, 255);
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color:  rgb(243, 220, 255);
} 


/* humberger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}


.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color:rgb(243, 220, 255);
  border-radius: 3px;
  transition: all 0.5s;
}


.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}


/* hamburger menu animasi */
.menu-toggle span:nth-child(2) {
  /* background-color: red; */
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  /* background-color: red; */
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #fff;
  transform: rotate(45deg) translate(-1px, -1px);
}


.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #fff;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform:scale(0);
}



/* responsive breakpoint */

/* ukuran tabled */



@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}


/* ukuran mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(180, 78, 232);
    flex-direction: column;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  .menu-toggle {
    display: flex;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}